@font-face {
  font-family: 'SiYuan_Medium';  //重命名字体名
  src: url('SourceHanSansCN-Medium.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SiYuan_Regular';  //重命名字体名
  src: url('SourceHanSansCN-Regular.ttf');  //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-MediumItalic.otf";
  src: url("DIN-MediumItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-MediumItalic";
  src: url("DIN-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTTGB-Medium";
  src: url("TTTGB-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Xolonium-Regular";
  src: url("Xolonium-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Bold";
  src: url("albb-puhuiti-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba-PuHuiTi-Medium";
  src: url("albb-puhuiti-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba-PuHuiTi-Regular";
  src: url("albb-puhuiti-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ShiShangZhongHeiJianTi";
  src: url("shishanzhonghei.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Light";
  src: url("Alibaba-PuHuiTi-Light.otf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "OPPOSans-M";
  src: url("OPPOSans-M.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OPPOSans-R";
  src: url("OPPOSans-R.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din-bold-2";
  src: url("din-bold-2.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFang Medium";
  src: url("PingFang Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Regular";
  src: url("PingFang Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Bold";
  src: url("PingFang Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
